<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Todo List</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script>
      $(function () {
          $('[data-toggle="tooltip"]').tooltip()
      })
  </script>
</head>

<body>

<div class="container">
  <div class="row">
    <% @lists.each do |list| %>

      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title" > <%= list['name'] %></h5>

            <div class="list-group list-group-flush">

            <% list_items = @db.exec("SELECT * FROM todos WHERE list_id='#{list['id']}'") %>

            <% list_items.each do |task| %>
                <% if task['done'] == 't'%>
                  <li class="list-group-item" style="text-decoration: line-through"><%= task['task'] %> <br>
                    <a href="<%= "?restore=#{task['id']}" %>"><i class="fas fa-history" data-toggle="tooltip" data-placement="bottom" title="Not complete" style="margin-right: 5px"></i></a>
                    <a href="<%= "?edit=#{task['id']}" %>"><i class="fas fa-edit" data-toggle="tooltip" data-placement="bottom" title="Edit Task" style="margin-right: 5px"></i></a>
                    <a href="<%= "?delete=#{task['id']}" %>"><i class="fas fa-backspace" data-toggle="tooltip" data-placement="bottom" title="Delete Task" style="margin-right: 5px"></i></a>
                <% else %>
                  <li class="list-group-item"><%= task['task'] %> <br>
                    <a href="<%= "?done=#{task['id']}" %>"><i class="fas fa-check-circle" data-toggle="tooltip" data-placement="bottom" title="Mark Complete" style="margin-right: 5px"></i></a>
                    <a href="<%= "?edit=#{task['id']}" %>"><i class="fas fa-edit" data-toggle="tooltip" data-placement="bottom" title="Edit Task" style="margin-right: 5px"></i></a>
                    <a href="<%= "?delete=#{task['id']}" %>"><i class="fas fa-backspace" data-toggle="tooltip" data-placement="bottom" title="Delete Task" style="margin-right: 5px"></i></a>
                <% end %>
              </li>
            <% end %>
            </div>
          </div>
        </div>
      </div>

    <% end %>
  </div>

  <a href="#" class="btn btn-primary" style="margin-top: 15px" data-toggle="modal" data-target="#addTaskModal">Add Task</a><br>
  <a href="#" class="btn btn-primary" style="margin-top: 15px" data-toggle="modal" data-target="#addListModal">Create New List</a><br>
  <a href="#" class="btn btn-danger" style="margin-top: 15px" data-toggle="modal" data-target="#deleteTaskModal">Delete List</a><br>

</div>


<!-- Add Task Modal -->
<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTaskModalLabel">Add Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form action="/" method="POST">
        <div class="modal-body">
            <div class="form-group">
              <input type="text" class="form-control" id="taskInput" name="taskName" placeholder="Enter task">
            </div>

            <select name="list" class="form-control form-control-md">
              <% @lists.each do |list| %>
                <option value="<%= list['id'] %>"><%= list['name'] %></option>
              <% end %>
            </select>
        </div>

        <div class="modal-footer">
          <input class="btn btn-primary" type="submit" value="Add">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Add List Modal -->
<div class="modal fade" id="addListModal" tabindex="-1" role="dialog" aria-labelledby="addListModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTaskModalLabel">Create List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form action="/" method="POST">
        <div class="modal-body">
          <div class="form-group">
            <input type="text" class="form-control" id="newListInput" name="newListName" placeholder="Enter list name">
          </div>
        </div>

        <div class="modal-footer">
          <input class="btn btn-primary" type="submit" value="Create">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Edit List Modal -->
<div class="modal fade" id="editTasktModal" tabindex="-1" role="dialog" aria-labelledby="addListModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTaskModalLabel">Edit Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form action="/" method="POST">
        <div class="modal-body">
          <div class="form-group">
            <input type="text" class="form-control" id="newTaskNameInput" name="newTaskName" placeholder="Enter new task name">
            <input type="hidden" id="taskID" name="taskID" value="<%= req.params['edit'] %>">
          </div>
        </div>

        <div class="modal-footer">
          <input class="btn btn-primary" type="submit" value="Edit">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Delete Task Modal -->
<div class="modal fade" id="deleteTaskModal" tabindex="-1" role="dialog" aria-labelledby="deleteTaskModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTaskModalLabel">Delete Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form action="/" method="POST">
        <div class="modal-body">
          <select name="delete_list" class="form-control form-control-md">
            <% @lists.each do |list| %>
              <option value="<%= list['id'] %>"><%= list['name'] %></option>
            <% end %>
          </select>
        </div>

        <div class="modal-footer">
          <input class="btn btn-danger" type="submit" value="Delete">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<% if @display_modal %>
  <script>
      $('#editTasktModal').modal('show');
  </script>
<% end %>

</body>

</html>